@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*, ::after, ::before {
  box-sizing: border-box;
}
a, abbr, acronym, address, applet, big, blockquote, body, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, ul, var {
border: 0;
font-style: inherit;
font-weight: inherit;
margin: 0;
outline: none !important;
padding: 0;
vertical-align: baseline;
font-family: 'Open Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800&family=Corben&family=Elsie&family=Encode+Sans+Condensed:wght@400;500;600;700;800&family=Gloria+Hallelujah&family=Inter:wght@100;200;300;400;500;700;800;900&family=Kaushan+Script&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@200;300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&family=Quicksand:wght@400;500;600;700&family=Rajdhani:wght@300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Saira+Condensed:wght@300;400;500;600;700&family=Yeseva+One&display=swap');
body{
 
}
.btn:focus{
  box-shadow: none !important;
}
img{
  padding: 0;
  margin: 0;
}
.sidebar-menu{
  background: #fff;
}
#navAccordion {
  left: 0;
  transition: all .4s ease 0s;
}
#navAccordion.active {
  left: -233px;
}
.container-fluid{
  padding: 0 !important;
}
.tog-btn{
  font-size: 18px;
  color: #000;
  cursor: pointer;
  transition: all 0.5s;
}
.tog-btn:hover{
  color: #d10202;
}
.content-wrapper {
  margin-left: 230px;
  transition: all .4s ease 0s;
  min-height: 100vh;
  width: 100%;
  display: inline-block;
  background: #f2f2f2;
}
.logo-admin{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fe0000+0,d10202+100 */
background: rgb(254,0,0); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(254,0,0,1) 0%, rgba(209,2,2,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(254,0,0,1) 0%,rgba(209,2,2,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(254,0,0,1) 0%,rgba(209,2,2,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe0000', endColorstr='#d10202',GradientType=1 ); /* IE6-9 */
width: 100%;
display: flex;
padding: 7px 0;
text-align: center;
text-align: center;
justify-content: center;
align-items: center;
}
.top-bar-menu{
  background: #fff;
}
.top-bar-menu{
  padding: 0 20px 0 20px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-menu-sec ul{
  justify-content: space-between;
  align-items: center;
}
.right-menu-sec .nav-link{
   padding: 0;
}
.right-menu-sec ul li{
  margin: 0 8px;
}
.right-menu-sec ul li a{
  color: #000;
  font-size: 22px;
  position: relative;
}
.right-menu-sec ul li:nth-child(2) a{
  color: #FE0000;
  font-size: 25px;
}
.cart-dropdown-ne,
.account-div {
  width: 310px;
  right: 0;
  left: inherit !important;
  border: none;
  visibility: hidden;
  top: 120%;
  display: block !important;
}
.cart-dropdown-ne.show,
.account-div.show {
  visibility: visible;
  top: 100%;
}
.account-div.show{
  top:40% !important;
}
.account-div{
  width: 230px !important;
  border: none !important;
}
.account-div:before {
  position: absolute;
  top: -10px;
  width: 10px;
  right: 10px;
  height: 10px;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  border-bottom: solid 10px #fff;
  content: '';
}
.right-menu-sec ul li:nth-child(2) .nav-link:after{
  position: absolute;
  right: 2px;
  top: 10px;
  font-size: 10px;
  width: 8px;
  height: 8px;
  background: #FE0000;
  overflow: hidden;
  border-radius: 50%;
  content: "";
}
.account-div .dropdown-item,
.account-div li:nth-child(2) a.dropdown-item{
  font-size: 16px;
  color: #000;
  font-weight: 600;
}
.account-div .dropdown-item{
  border-bottom: solid 1px #dadada;
  padding-bottom: 8px;
}
.account-div li:last-child .dropdown-item{
  border-bottom: none;
}
.account-div .dropdown-item span{
  color: #383835 !important;
  font-weight: 400;
}
.account-div .dropdown-item:hover{
  background-color: inherit !important;
  color: #FE0000 !important;
}
.user-div-top h6{
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  text-align: right;
}
.user-div-top h6 span{
  color: #8F8F8F;
}
.main-menu  ul li a{
  padding: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s;
  margin-bottom: 1px;
}
.main-menu  ul li a span{
  margin-right:15px;
  display: grid;
  
}
.main-menu ul li a.active,
.main-menu  ul li a:hover{
  background: rgba(255,0,0,7%);
}

.notification-div .icon-nt{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  display: grid;
  align-content: center;
  justify-content: center;
  color: #fff;
  background: #FE0000;
}
.notification-div h5{
   font-size: 16px;
}
.notification-div h5 span{
  color: #bbb;
  font-size: 14px;
}
.notification-div li{
  margin-bottom: 15px !important;
  display: inline-block;
  width: 100%;
}
.notification-div li > div{
  align-items: center;
  border-bottom:solid 1px #f0f0f0;
  padding-bottom: 10px;
}
.notification-div .icon-nt svg{
  font-size: 22px;
}
.notificaion-dp h4{
  font-size: 20px;
  font-weight: 600;
}
.notificaion-dp{
  border: none !important;
}
.notificaion-dp hr{
  background-color: #bbb;
}
.right-menu-sec .allnoti-btn{
  font-size: 16px !important;
  font-weight: 600;
  transition: all 0.5s;
}
.right-menu-sec .allnoti-btn:hover{
  color: #000 !important;
}
.dasb-div{
  display: inline-block;
}
.booking-chart,
.revenu-div{
  display: inline-block;
  width: 100%;
  background: #fff;
  border: solid 1px #D2D2D2;
  border-radius: 8px;
  height: 431px;
}
.comon-chart-globe,
.map-div-main{
  display: inline-block;
  width: 100%;
  background: #fff;
  border: solid 1px #D2D2D2;
  border-radius: 8px;
  height: 433px;
  position: relative;
}
.total-content-div{
  display: inline-block;
  width: 100%;
  background: #fff;
  border: solid 1px #D2D2D2;
  border-radius: 8px;
  height: 433px;
  position: relative;
}
.booking-chart .recharts-wrapper,
.revenu-div .recharts-wrapper,
.comon-chart-globe .recharts-wrapper,
.total-content-div .recharts-wrapper{
  width: 100% !important;
}
.total-content-div .btn-secondary{
  background: #F5F5F5;
  border: none;
  font-weight: 600;
  color: #000;
  border-radius: 50px;
  width: 152px;
}
.comon-chart-globe .recharts-legend-wrapper{
  margin: auto;
  left: 0;
  right: 0;
}
.dasb-div .row{
  padding: 0;
  margin: 0;
}
.dasb-div{
  padding-left: 25px;
  padding-top: 5px;
}
.cm-heading{
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
.dasb-div .nav-pills .nav-link{
  font-weight: 600;
  color: #4B4B4B;
  font-size: 14px;
  border: solid 1px #fff;
  border-radius: 50px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  border: solid 1px #EA5455;
  color: #EA5455 !important;
  background: none !important;
}
.recharts-surface{
  width:100% !important ;
}
.number-rev .dl-icon{
  background: #22C55E;
  width: 50px;
  height: 50px;
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 30px;
  color: #fff;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
.number-rev h3{
  color: #22C55E;
  font-weight: 800;
  font-size: 38px;
}
.map-sec-div iframe{
  height: 260px;
}
.ds-sec h5{
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.ds-sec h5 span{
  font-weight: 600;
  font-size: 22px;
}
.view-map-btn{
  background-color: #ea5455 !important;
  color: #fff !important;
  border-radius: 20px !important;
  padding: 8px 22px !important;
  transition: all 0.5s;
}
.view-map-btn:hover{
  background-color: #000 !important;
}
.show-date-details{
  background: #fff;
  border-radius:10px ;
  height:72px;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.show-date-details h6{
  background-color: #ea5455 !important;
  color: #fff !important;
  border-radius: 20px !important;
  padding: 6px 22px !important;
  margin: 0;
  display: flex;
  align-items: self-end;

}
.show-date-details h6 span{
  position: relative;
  display: grid;
  margin-right: 5px;
}
.comon-overview{
  background: #fff;
  border-radius: 10px;
  height: 130px;
  display: grid;
  align-content: center;
  padding: 0 15px;
  position: relative;
}
.sub-text{
  color: #353535;
  font-size: 14px;
  margin-top: 18px;
}
.comon-overview p{
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.icon-f{
  width: 53px;
  height: 53px;
  display: grid;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: #FBFBFB;
  margin-left: -3px;
}
.date-tx{
  width:65%;
}
.list-count{
  width: 35%;
  display: grid;
  justify-content: flex-end;
}
.line-bar{
  width: 100%;
  margin: auto;
  height: 11px;
  display: inline-block;
  background: #C4C4C4;
  margin-top: 30px;
  position: relative;
}
.line-bar:after{
  position: absolute;
  left: 0;
  width: 45%;
  top:0;
  content: "";
  background-color: #d57c09;
  height: 11px;
  display: inline-block;
}
.md-overview .line-bar:after{
  background-color: #7a64c6;
}
.lst-overview .line-bar:after{
  background-color: #02b596;
}
.date-tx h5{
  color: #000;
  font-size:25px;
  font-weight: 700;
}
.list-count li{
  font-size: 14px;
}
.date-tx h5 span{
   font-weight: 400;
   font-size: 13px;
   color: #333333;
}
.tab-table{
  background: #fff;
  border: solid 1px #D2D2D2;
  border-radius: 8px;
  display: inline-block;
  width: 100%;
}
.download-btn{
  background-color: #ffdada !important;
  color: #E35051 !important;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 15px !important;
  border-radius: 30px !important;
  transition: all 0.5s;
  transform: scale(1);
}
.download-btn:hover,
.edit-btn:hover,
.filter-btn:hover{
  transform:scale(1.1);
}
.edit-btn{
  background-color: #e8fff3 !important;
  color: #0A6934 !important;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 15px !important;
  border-radius: 30px !important;
  transition: all 0.5s;
  transform: scale(1);
}
.gp-button button{
  margin: 0 8px;
  
    height: 37px;
}
.gp-button .download-btn{
  width: 148px;
}
.edit-btn{
  width: 113px;
}

.filter-btn{
  background-color: #f5f5f5 !important;
  color: #000 !important;
  font-size: 16px;
  font-weight: 600;
  width: 152px;
  border-radius: 30px !important;
  transition: all 0.5s;
  transform: scale(1);
}
.st-text-s{
  font-size: 14px;
  font-weight: 400;
  background-color: #02B596 !important;
  color: #fff !important;
  border-radius: 5px;
  display: grid;
  width:104px;
  height: 27px;
  margin: auto;
  text-align: center;
  align-content: center;
}
.st-text-c{
  font-size: 14px;
  font-weight: 400;
  background-color: #f59e0b !important;
  color: #fff !important;
  border-radius:5px;
  display: grid;
  width: 104px;
  height: 27px;
  margin: auto;
  align-content: center;
  text-align: center;
}
.st-text-sb{
  font-size: 14px;
  font-weight: 400;
  background-color: #649F19 !important;
  color: #fff !important;
  border-radius:5px;
  display: grid;
  
  margin: auto;
  text-align: center;
  width: 104px;
  height: 27px;
  align-content: center;
}
.st-text-cl{
  font-size: 14px;
  font-weight: 400;
  background-color: #EA5455!important;
  color: #fff !important;
  border-radius: 5px;
  display: grid;
  padding: 5px 10px;
  width: 104px;
  height: 27px;
  align-content: center;
  margin: auto;
  text-align: center;
  align-content: center;
}
.track-btn{
  background-color: #000 !important;
  color: #fff !important;
  font-size: 14px !important;
  width: 54px;
  height: 27px;
  display: grid;
  align-content: center;
  border: none;
  border-radius: 5px;
  line-height: 15px;
}
.view1-btn{
  border:solid 1px #3A78F2 !important;
  color: #3A78F2 !important;
  font-size: 14px !important;
  width: 54px;
  height: 27px;
  display: grid;
  align-content: center;
  border-radius: 5px;
  line-height: 15px;
}
.table-sec-div .tbody, .table-sec-div td, .table-sec-div tfoot, .table-sec-div th, .table-sec-divthead, 
.table-sec-div tr{
  text-align: center;
  vertical-align: middle;
}
.bg-row{
  background-color: #f8f8f8;
  border-bottom: none !important;
}
.table{
  border: none;
}
.table > :not(:first-child),
.table > :not(caption) > * > *{
  border: none !important;
}
.table tr{
  border-bottom: solid 1px rgb(233, 233, 233);
}
.table tr:last-child{
  border-bottom: none;
}
.bar-icon1{
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}
.tab-table td{
  font-size: 14px;
}
.tab-table th{
  font-size: 16px;
}
.nw-bbok-btn{
  width: 143px;
  height: 44px;
  background: #EA5455;
  border-radius: 50px;
  display: inline-block;
  align-content: center;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.nw-bbok-btn:hover{
  background: #000;
  color: #fff;
}
.st-btn{
  width: 143px;
  height: 44px;
  background: #000;
  border-radius: 50px;
  display: inline-block;
  align-content: center;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  color: #fff !important;
  cursor: pointer;
  transition: all 0.5s;
}
.st-btn:hover{
  background: #EA5455;
}
.setting-md-div{
   border: solid 1px #E7E7E7;
}
.comon-div-sec-details h4{
  color: #EA5455;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.comon-div-sec-details .form-check-input:checked{
  background-color:#EA5455;
  color: #EA5455;
  border-color: #EA5455;
}
.comon-div-sec-details h5{
  font-weight: 600;
  color: #333333;
  font-size: 16px;
}
.comon-div-sec-details ul li{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.tl{
  width: 198px;
  display: inline-block;
}
.nadme-list{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.cm-name{
  padding: 0 15px;
  height: 32px;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  background: #f8f8f8;
  font-size: 15px;
  margin-bottom: 10px;
  margin-right: 6px;
}
.bn-paid{
  width: 64px;
  height: 27px;
  background: #22C55E;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  border-radius: 5px;
  font-size: 15px;
}


.ps-status-div{
  border: solid 1px #C2C2C2;
  border-radius: 8px;
  box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 10%);
  border-radius: 15px;
  height: 122px;
  display: grid;
  align-content: center;
  padding-top: 6px;
  box-sizing: border-box;
}
.comon-status{
  text-align: center;
  position: relative;
  height: 100px;
  display: grid;
}
.comon-status:after{
  position: absolute;
  content: "";
  width: 87px;
  height: 1px;
  background: #454845;
  right: -57px;
  top: 25%;
}
.iocn-cm{
  width: 46px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  background: #FE0000;
  display: grid;
  align-content: center;
  justify-content: center;
  margin: auto;
}
.comon-status h5{
  font-size: 16px;
  font-weight: 600;
  margin-top: 9px;
}
.cm-disable .iocn-cm{
  background: #F4F4F4;
}
.cm-disable h5{
  color: #A0A0A0;
}
.ps-status-div .row > div:last-child .comon-status:after{
  display: none;
}
.cm-disable::after{
  background: #D8E0D7;
}

.form-wizard .wizard-fieldset {
  display: none;
}
.form-wizard .wizard-fieldset.show {
  display: block;
}
.form-wizard-header{
  background: #FCFCFC;
  border-radius: 10px 10px 0 0;
  height: 119px;
  display: grid;
  align-content: center;
}
.form-wizard-header ul{
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.form-wizard .form-wizard-steps li {
  width: 20%;
  position: relative;
  text-align: center;
  display: table;
}

.form-wizard-header ul h6{
  margin-bottom: 0;
}
.form-wizard .form-wizard-steps li .cm-check-icons {
  background-color: #dddddd;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 1;
  margin-bottom: 8px;
}
.form-wizard .form-wizard-steps li.active .cm-check-icons, .form-wizard .form-wizard-steps li.activated .cm-check-icons {
  background-color: #22C55E;
  color: #ffffff;
}

.form-wizard .form-wizard-steps li::after {
  background-color: #D8D8D8;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top:22%;
  transform: translateY(-50%);
  width: 100%;
}
.form-wizard .form-wizard-steps li:last-child::after {
  left: 0;
}
.form-wizard .form-wizard-steps li:last-child::after {
  width: 50%;
}
.form-wizard .form-wizard-steps li:last-child.active::after{
  display: none;
}
.inside-comon-div{
  background: #fff;
  padding-top: 50px;
  display: inline-block;
  width: 100%;
  padding-left: 110px;
  padding-right: 110px;
  padding-bottom: 50px;
}
.test-inside-div .form-check{
   width: 95px;
}

.inside-comon-div hr{
  background-color: #C4C4C4;
  margin-top: 5px;
}

.form-wizard .form-wizard-steps li.active::after, .form-wizard .form-wizard-steps li.activated::after {
  background-color: #22C55E;
  left: 50%;
  width: 50%;
  border-color: #22C55E;
}
.form-wizard .form-wizard-steps li.activated::after {
  width: 100%;
  border-color: #22C55E;
}
.form-wizard .form-wizard-steps li .cm-check-icons{
  color: #dddddd;
}
.form-wizard .form-wizard-steps li .sub-steps{
  color: #979797;
}
.form-wizard .form-wizard-steps li.active .sub-steps,
.form-wizard .form-wizard-steps li.activated .sub-steps{
  color: #000;
}
.wizard-fieldset .from-group{
  position: relative;
}
.wizard-fieldset label{
  font-weight: 500;
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
}
.form-wizard .wizard-form-error {
  display: none;
  background-color: #d70b0b;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.nm-text{
  font-size: 15px;
  padding-bottom: 4px;
  display: table;
  margin: auto;
  color:#C2C2C2 ;
  font-weight: 400;
}
.booking-modal-div .modal-body{
  padding: 0;
}
.booking-modal-div .modal-header{
  border-bottom: none;
}
.booking-modal-div .e-control-wrapper{
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem;
  padding: 0.205rem 0.75rem;
  font-size: 1rem;
}
.e-input-group-icon.e-date-icon, *.e-control-wrapper .e-input-group-icon.e-date-icon{
  margin: 2px 0 4px 0 !important;
}
.test-details-div{
  background: #F8F8F8;
  border-radius: 10px;
  display: inline-block;
  padding:30px;
  width: 100%;
}
.form-wizard h4{
  font-size: 18px;
  font-weight: 600;
}
.cunt-div{
  display: inline-block;
  width: 100%;
  border: solid 1px #D0D0D0;
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding:10px 25px;
}
.qty-input {
  color: #000;
  background: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.qty-input .product-qty,
.qty-input .qty-count {
  background: transparent;
  color: inherit;
  font-weight: bold;
  font-size: inherit;
  border: none;
  display: inline-block;
  min-width: 0;
  height: 34px;
  line-height: 1;
}
.qty-input .product-qty:focus,
.qty-input .qty-count:focus {
  outline: none;
}
.qty-input .product-qty {
  width: 50px;
  min-width: 0;
  display: inline-block;
  text-align: center;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.qty-input .product-qty::-webkit-outer-spin-button, .qty-input .product-qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
.qty-input .qty-count {
  padding: 0;
  cursor: pointer;
  width: 2.5rem;
  font-size: 1.25em;
  text-indent: -100px;
  overflow: hidden;
  position: relative;
}
.qty-input .qty-count:before, .qty-input .qty-count:after {
  content: "";
  height: 2px;
  width: 10px;
  position: absolute;
  display: block;
  background: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.qty-input .qty-count--minus {
  background:#EA5455;
  color: #fff;
}
.qty-input .qty-count--add {
  background:#EA5455;
  color: #fff;
}
.qty-input .qty-count--add:after {
  transform: rotate(90deg);
}
.qty-input .qty-count:disabled {
  color: #ccc;
  background: #f2f2f2;
  cursor: not-allowed;
  border-color: transparent;
}
.qty-input .qty-count:disabled:before, .qty-input .qty-count:disabled:after {
  background: #ccc;
}
.cunt-div .row{
  border-bottom: solid 1px #dbdbdb;
}
.customer_records{
  border: none !important;
}
.cunt-div .row > div{
  position: relative;

}
.comon-count{
  height: 77px;
  position: relative;
}
.cunt-div .row > div .comon-count:after{
  border-right: solid 1px #dbdbdb;
  position: absolute;
  content: "";
  width: 1px;
  height:100%;
  top: 0;
  right: -10px;
}
.cunt-div .row > div:first-child{
  padding-left: 0;
}
.cunt-div .row > div:last-child{
  padding-right: 0;
}
.cunt-div .row > div:last-child .comon-count{
  justify-content: flex-end;
}
.cunt-div .row:last-child{
  border-bottom: none;
}
.comon-count .form-check{
  position: relative;
}
.comon-count .form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
  position: absolute;
  top: 41%;
  transform: translateY(-50%);
}
.cunt-div .row > div:nth-child(3) .comon-count::after{
  display: none;
}
.td{
  display: table-cell;
}
.tbl-re,
.tbl-re-dl {
  width: 80%;
  margin: 0 auto;
  display: table;
}
.tbl-re-dl .td{
  display: table-cell;
  width: 20%;
  width: 19%;
  padding: 10px 0;
}
.tbl-re{
  background: #f8f8f8;
  height: 40px;
  line-height: 38px;
  
}
.tbl-re .td{
  font-weight: 600;
  font-size: 16px;
  color: #000;
  width: 19%;
  
}
.adbenf-btn{
  display: flex !important;
  color: #EA5455 !important;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  align-items: center;
  justify-content:flex-end;
  transition: all 0.5s;
  width: 190px;
  margin-left: auto;
}
.adbenf-btn:hover{
  font-weight: 600;
}
.inside-sp .ps-status-div{
  border: solid 1px #27AA12;
}
.inside-sp .iocn-cm{
  background: #27AA12;
}
.inside-sp .cm-disable .iocn-cm {
  background: #F4F4F4;
}
.inside-sp .ps-status-div{
  width: 90%;
  margin: auto;
}
.adbenf-btn img{
  margin-right: 5px;
}
.showSingle{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#div1{
  display: none;
}
#div2{
  display: none;
}
#div3{
  display: none;
}
#div4{
  display: none;
}
#div5{
  display: none;
}
.qty-input {
  border-radius: 4px;
  border: solid 1px #EA5455;
}
.form-check label{
  margin-bottom: 0;
}
.form-wizard-next-btn{
  background: #EA5455;
  width: 140px;
  height: 41px;
  text-align: center;
  display: grid;
  align-content: center;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
}
.form-wizard-next-btn:hover{
  background:#000;
  color: #fff;
}

#sun-sl{
  display: none;
}
#tu-sl{
  display: none;
}
#wn-sl{
  display: none;
}
#th-sl{
  display: none;
}
#fri-sl{
  display: none;
}
#sta-sl{
  display: none;
}








.payment-div h6.cm-heading-page{
  background-color:inherit !important;
  color: #000 !important;
  padding: 0 !important;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
}

.plans .plan input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.plans .plan {
  cursor: pointer;
  width: 100%;
  position: relative;
}
.paid-btn-new{
  background: #22C55E;
  color: #fff !important;
    font-size: 14px !important;
    width: 54px;
    height: 27px;
    display: grid;
    align-content: center;
    border: none;
    border-radius: 5px;
    line-height: 15px;
}
.unpaid-btn{
  background: #F59E0B;
  color: #fff !important;
    font-size: 14px !important;
    width: 75px;
    height: 27px;
    display: grid;
    align-content: center;
    border: none;
    border-radius: 5px;
    line-height: 15px;
}
.left-sec-div-md{
  border-radius: 10px;
  border: solid 1px #E7E7E7;
}
.common-list{
  display: inline-block;
  width: 100%;
  border-bottom: solid 1px #E7E7E7;
  padding: 40px 0 0 40px;
}
.common-list:nth-child(2){
  border: none;
}
.common-list h5{
  color: #F77B7B;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.common-list ul li .sub-tl{
  color: #696767;
  font-size: 16px;
  font-weight: 600;
  width: 182px;
  display: inline-block;
  margin-bottom: 10px;
}
.total-payment{
  background: #f5f9ff;
  border-radius: 20px;
  padding: 30px;
  display: inline-block;
  width: 100%;
  height: 568px;
}
.total-payment h5{
  font-weight: 700;
  font-size: 18px;
  color: #000;
}
.or-id{
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.total-payment ul li{
  margin-bottom: 10px;
}
.total-payment ul li span{
  font-size: 16px;
  font-weight: 600;
  color: #696767;
  width: 156px;
  display: inline-block;
}
.padidl{
  background: #22C55E;
  color: #fff;
  width: 64px;
  height: 23px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-size: 15px;
}
.uppadidl{
  background: #F59E0B;
  color: #fff;
  width: 84px;
  height: 23px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-size: 15px;
}
.common-list h4{
  font-size: 20px;
  font-weight: 600;
}
.plans .plan .plan-content {
  display: inline-block;
  background: #F1F5F9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  position: relative;
  height: 120px;
  display: grid;
  align-content: center;
  text-align: center;
}

.iconradio{
  background: #fff;
  width: 38px;
  height: 38px;
  overflow: hidden;
  border-radius: 50%;
  display: grid;
  align-content: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 8px;
}
.iconradio svg{
  color: #fff;
}
.plans .plan .plan-content img {
  margin-right: 30px;
  height: 72px;
}

.plans .plan .plan-details span {
  margin-top: 5px;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #4A4A4A;
  font-family: 'Inter', sans-serif;
}

.container .title {
  font-size: 16px;
  font-weight: 500;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  color: #252f42;
  margin-bottom: 20px;
}

.plans .plan .plan-details p {
  color: #646a79;
  font-size: 14px;
  line-height: 18px;
}

.plans .plan .plan-content:hover {
  -webkit-box-shadow: 0px 3px 5px 0px #e8e8e8;
  box-shadow: 0px 3px 5px 0px #e8e8e8;
}



.plans .plan input[type="radio"]:checked + .plan-content {
  background: #EA5455;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  color: #fff;
}

.plans .plan input[type="radio"]:checked + .plan-content  .iconradio{
  color: #EA5455;
}
.plans .plan input[type="radio"]:checked + .plan-content .ts-cm{
  color: #fff;
}
.plans .plan .plan-content .iconradio{
  color: #fff;
}
.plans-ne ul{
  column-count: 3;
}
.comon-btn-rd{
  border: solid 1px #BDC0C3 !important;
  border-radius: 50px !important;
  width: 171px;
  height: 36px;
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 0 !important;
}
.avbtn{
  border: solid 1px #EA5455 !important;
  color: #EA5455 !important;
}
.new-slote .plan-content{
  border: solid 1px #BDC0C3 !important;
  border-radius: 50px !important;
  width: 171px;
  height: 36px !important;
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 0 !important;
  background-color: inherit !important;
  margin: auto;

}
.av-tabs .plan-content{
  border: solid 1px #EA5455 !important;
  color: #EA5455 !important;
}
.av-tabs .ts-cm{
  color: #EA5455 !important;
}
.new-slote .plan .plan-details span{
  margin-top: 0;

}
.bk-tabs-div .nav-pills .nav-link.active, .nav-pills .nav-link{
  border-radius: 0;
  color: #333333;
  font-family: 'Nunito', sans-serif;
  font-size: 19px;
  font-weight: 600;
}
.bk-tabs-div .nav-pills .nav-link.active, .nav-pills .nav-link:hover{
  color: #EA5455;
}
.bk-tabs-div .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
   border-bottom: solid 4px #EA5455;
   border-top: none;
   border-left: none;
   border-right: none;
}
/* .setting-md-div .row > div:nth-child(2n+2) .comon-div-sec-details{
  display: grid;
  justify-content: flex-end;
} */
.right-menu-sec ul li a{
  cursor: pointer;
}
.left-history h5{
  font-family: 'Nunito', sans-serif;
  color: #000;
  font-weight: 700;
  margin-bottom:0;
  font-size: 18px;
}
.mn-head{
  font-family: 'Nunito', sans-serif;
  color: #716868;
  font-size: 15px;
  font-weight: 600;
}
.same-details span{
  font-family: 'Nunito', sans-serif;
  color: #353535;
  font-size: 16px;
  margin: 0 12px;
  display: inline-block;
}
.same-details span:first-child{
  margin-left: 0;
}
.same-details span svg{
  color: #d9d9d9;
  font-size: 8px;
  margin-right: 3px;
}
.left-history ul li{
  padding: 0 15px;
  height: 32px;
  display: grid;
  align-content: center;
  justify-content: center;
  background: #F8F8F8;
  margin: 0 5px;
  border-radius: 50px;
  border: solid 1px #CDCCCC;
}
.left-history ul li:first-child{
  margin-left: 0;
}
.ps-st{
  background: #22C55E;
  width: 83px;
  height: 27px;
  display: flex;
  align-items:center;
  justify-content: center;
  color: #fff;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}
.unps-st{
  background: #F59E0B;
  width: 83px;
  height: 27px;
  display: flex;
  align-items:center;
  justify-content: center;
  color: #fff;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}
.cm-history{
  background: #fff;
  box-shadow: #dfdfdf 1px 4px 25px;
  border-radius: 10px;
  padding: 25px;
  position: relative;
  margin-bottom: 35px;
  display: inline-block;
  width: 100%;
}
.cm-history:after{
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  overflow: hidden;
  background: #22C55E;
  content: "";
  left: -44px;
  top:0;

}
.result-div > div:nth-child(2):after{
  background: #F59E0B;
}

.right-sec h5{
  font-weight: 800;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}
.result-div{
  position: relative;
}
.result-div::before{
  position: absolute;
  height: 100%;
  background:#EDEAEA;
  width: 4px;
  top:0;
  left: -50px;
  content: "";
}
.ps-st span{
  display: grid;
  margin-right: 5px;
}
.left-history h6.nw-add{
  color: #EA5455;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
}










.new-slote input.radio:empty {
	margin-left: -999px;
}

/* style label */
.new-slote input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 36px;
  width: 171px;
  height: 36px;
	margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  text-align: center;
}

.new-slote input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width:100%;
  border: solid 1px #BDC0C3;
	border-radius:50px;
}

/* toggle hover */
.new-slote input.radio:hover:not(:checked) ~ label:before {
	
	color: #fff;
}

.new-slote input.radio:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
.new-slote input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}

.new-slote input.radio:checked ~ label {
	color: #777;
}

/* radio focus */
.new-slote input.radio:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}


.cm-slots{
  width: 114px;
  height: 120px;
  border-radius: 10px;
  display:grid;
  align-content: center;
  justify-content: center;
  background: #F1F5F9;
  text-decoration: none;
  color: #4A4A4A;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.cm-slots:hover{
  color:#EA5455;
}

.plans ul li a.active{
  background: #EA5455;
  color: #fff;
}
.plans ul li a.active .iconradio svg{
  color:#EA5455;
}

.new-slote ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.new-slote ul li{
  
  margin: 0 15px;
  margin-bottom: 20px;
}
.new-slote ul li:nth-child(2n+1){
  margin-left: 0;
}
.new-slote ul li a{
  width: 171px;
  height: 36px;
  display: table;
  text-align: center;
  text-decoration: none;
  border: solid 1px #BDC0C3;
	border-radius:50px;
  color: #000;
  line-height: 36px;
  cursor: pointer;
}
.new-slote ul li .avilable-slt{
  border: solid 1px #EA5455;
  color: #EA5455;
  width: 171px;
  height: 36px;
  display: table;
  text-align: center;
  text-decoration: none;
  border-radius:50px;
  line-height: 36px;
}
.new-slote ul li .active{
  border: solid 1px #EA5455;
  color: #fff;
  background: #EA5455;
}


@media screen and (max-width: 991px) {
  

  .plans .plan {
    width: 100%;
  }

  .plan.complete-plan {
    margin-top: 20px;
  }

  .plans .plan .plan-content .plan-details {
    width: 70%;
    display: inline-block;
  }

  .plans .plan input[type="radio"]:checked + .plan-content:after {
    top: 45%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}

@media screen and (max-width: 767px) {
  .plans .plan .plan-content .plan-details {
    width: 60%;
    display: inline-block;
  }
}

@media screen and (max-width: 540px) {
  .plans .plan .plan-content img {
    margin-bottom: 20px;
    height: 56px;
    -webkit-transition: height 0.4s;
    -o-transition: height 0.4s;
    transition: height 0.4s;
  }

  .plans .plan input[type="radio"]:checked + .plan-content:after {
    top: 20px;
    right: 10px;
  }

  .plans .plan .plan-content .plan-details {
    width: 100%;
  }

  .plans .plan .plan-content {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

/* inspiration */
.inspiration {
  font-size: 12px;
  margin-top: 50px;
  position: absolute;
  bottom: 10px;
  font-weight: 300;
}

.inspiration a {
  color: #666;
}
@media screen and (max-width: 767px) {
  /* inspiration */
  .inspiration {
    display: none;
  }
}







@media (min-width: 1600px) {
  .booking-chart, .revenu-div{
    height: 540px;
  }
  .recharts-wrapper{
    height: 380px !important;
  }
}
@media (min-width: 992px) {
	.sidebar-menu {
	  position: absolute;
	  top:0;
	  left: 0;
	  width: 230px;
	  height: 100vh;
	  margin-top:0;
	  background: #fff;
	  box-sizing: border-box;
	  
	}
  
	.navbar-expand-lg .sidenav {
	  flex-direction: column;
	}
  .full-width {
    margin-left: 0;
    width: 100% !important;
    padding-left: 0;
}
	
@media (min-width: 1900px) {
  .sidebar-menu,
  .sidebar-menu{
    width: 298px;
  }
  .content-wrapper{
    margin-left: 298px;
  }
  .list-count{
    font-size: 16px;
  }
  .booking-chart, .revenu-div {
    height: 431px;
  }
  .comon-chart-globe, .map-div-main{
    height: 337px;
  }
  .tab-table{
    height: 487px;
  }
  .comon-chart-globe .recharts-legend-wrapper{
    bottom: 145px;
  }
  .date-tx {
    width: 68%;
  }
  .list-count {
    width: 32%;
    display: grid;
    justify-content: flex-end;
  }
}

	.footer {
	  width: calc(100% - 230px);
	  margin-left: 230px;
	}



  }
  @media (max-width: 1920px) {
    .date-tx {
      width: 82%;
     }
    
     .date-tx h5 span{
       font-size: 11px;
     }
  }
  @media (max-width: 1440px) {
    .date-tx {
      width: 55%;
    }
    .list-count {
      width: 45%;
      display: grid;
      justify-content: flex-end;
    }
  }
  @media (max-width: 1080px) {

    .cm-heading{
      font-size: 14px;
    }
    
  }
  @media (max-width:1024px) {
    .comon-overview ul li{
       font-size: 14px;
    }
    .date-tx {
      width: 52%;
    }
  }
  @media (max-width: 900px) {
    .content-wrapper {
      margin-left: 0;
    }
    .logo-admin{
      justify-content: space-between;
      padding:10px 20px;
    }
    .show-date-details{
      height: auto;
      padding: 20px;
      display: inline-block;
      width: 100%;
    }
    .show-date-details h6{
      display: inline-block;
    }
    .recharts-legend-wrapper{
      width: 100% !important;
    }
    .comon-chart-globe, .map-div-main,
    .booking-chart, .revenu-div{
      height: auto;
    }
    .table-sec-div .tbody, .table-sec-div td, .table-sec-div tfoot, .table-sec-div th, .table-sec-divthead, .table-sec-div tr{
      font-size: 9px;
    }
    .st-text-s,
    .st-text-c,
    .st-text-sb,
    .st-text-cl,
    .track-btn,
    .view1-btn {
      font-size: 9px !important;
    }
    .dasb-div{
      padding-left: 0;
      padding-top: 20px;
    }
  }

  @media (max-width: 667px) {
    .recharts-wrapper{
      height: 320px !important;
    }
  }
  

  .mobile-menu-sec .active-m a {
    background: rgba(255,0,0,7%);
    color: #fff;
   }
   .logo-side{
    background: rgb(254,0,0);
    display: inline-block;
    width: 100%;
    padding: 15px 10px;
    text-align: center;
    background: linear-gradient(to right, rgba(254,0,0,1) 0%,rgba(209,2,2,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe0000', endColorstr='#d10202',GradientType=1 );
   }
  .mobile-menu-sec li a, .mobile-menu-sec li .dropdown .btn {
    text-decoration: none;
    color: #212529;
    padding: 10px 5px 10px 10px;
    display: block;
    background: #f7f7f7;
    margin-bottom: 3px;
    width: 100%;
    text-align: left;
}

button.close-menu {
  color: #fff;
  background: #212529;
  border-radius: 5px;
  display: block;
  margin: 40px 0 0 0;
  width: 100px;
}

.mobile-menu-div2 {
  width: 340px !important;
}
.table-sec-div {
  overflow-x:auto;
  width: 100%;
}
